import jenkins.model.*
import hudson.security.*
import jenkins.model.Jenkins
import jenkins.model.JenkinsLocationConfiguration
import java.util.logging.Logger

Logger logger = Logger.getLogger("create_cfgmgt_user.groovy")
logger.info("-----> Configure Jenkins CfgMgr user <-----")


def instance = Jenkins.getInstance()
def hudsonRealm = new HudsonPrivateSecurityRealm(false)
def users = hudsonRealm.getAllUsers()
users_s = users.collect { it.toString() }

if ("{{ jenkins_cfgmgt_user }}" in users_s) {
    logger.info("         Jenkins_cfg user already exists - skipping")
}
else {
    logger.info("         creating Jenkins_cfg user")

    def newUser = hudsonRealm.createAccount('{{ jenkins_cfgmgt_user }}', '{{ jenkins_default_admin_password }}')
    newUser.save()

    instance.setSecurityRealm(hudsonRealm)

    def strategy = new FullControlOnceLoggedInAuthorizationStrategy()
    strategy.setAllowAnonymousRead(false)
    instance.setAuthorizationStrategy(strategy)
    instance.save()

}
