<org.jenkinsci.plugins.github__branch__source.GitHubAppCredentials plugin="github-branch-source@2.10.2">
  <id>github-app</id>
  <description></description>
  <appID>108572</appID>
  <privateKey>
    <secret-redacted/>
  </privateKey>
  <apiUri></apiUri>
</org.jenkinsci.plugins.github__branch__source.GitHubAppCredentials>