<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl >
  <scope>GLOBAL</scope>
  <id>GitHub_Token</id>
  <username>github_user</username>
  <password>{{ github_token }}</password>
  <description>Default Github token</description>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>